<h2>Form de Cadastramento de Remédios</h2>
<hr>
<h3>Novo Remédio: </h3>
<div class="card">
    <div class="card-body">

<form action="/admin/categorias/nova" method="POST">
    <label for="nome">Nome: </label>
        <input type="text" id="nome" name="nome" placeholder="Nome Nova Categoria" class="form-control">
    <label for="slug">Preço: </label>
        <input type="text" id="preco" name="preco" placeholder="R$ - Preço do Remédio - Unidade" class="form-control">
        <br>
        <button type="submit" class="bt btn-success">Cadastrar</button>
</form>
</div>
</div>

